<div class="container">
    <h1>High Performance Fooz</h1>
</div>
<div class="main container">
    <div class="row">
        <div class="col-md-12">
            <h3>Dashboard</h3>
            <p>Welcome to the official TSG fooseball application.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Hello</h4>
        </div>
    </div>
</div>
